.post {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--color-grey-800);
    text-align: center;
    border-radius: 4px;
}
  
.post a {
    color: var(--color-grey-100);
}
  
.image {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    max-height: 20rem;
    overflow: hidden;
}
  
.image img {
    object-fit: cover;
}
  
.content {
    padding: var(--size-6);
}
  
.content h3 {
    margin-bottom: var(--size-2);
    font-size: var(--size-6);
}
  
.content time {
    display: block;
    margin: var(--size-2) 0 var(--size-4) 0;
    font-size:  var(--size-4);
    font-style: italic;
    color: var(--color-grey-300);
}
  
.content p {
    font-size: var(--size-4);
    line-height: var(--size-6);
}