.logo {
    text-transform: uppercase;
    font-size: var(--size-8);
    font-weight: bold;
    font-family: var(--type-second);
    color: var(--color-grey-50);
    line-height: 1.2;
}
  
@media (max-width: 48rem) {
    .logo {
        font-size: var(--size-5);
    }
}